/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 24px */
/* 26px */
/* 30px */
/* 36px */
/* 40px */
/* 48px */
/* 50px */
/* 60px */
.header {
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.header .container {
  max-width: 1200px;
  padding: 0 25px;
}

.header .container .logo {
  color: #dc4f72;
  font-size: 1.625rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-decoration: none;
}

.header .container .menu ul {
  list-style-type: none;
  width: 648px;
  margin: 0;
}

.header .container .menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .container .menu ul li:hover a {
  color: #dc4f72;
}

.header .container .menu ul li:hover span {
  width: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .container .menu ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #5a5a5a;
}

.header .container .menu ul li .menu-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .menu ul li .menu-down i {
  font-size: 12px;
  padding-left: 4px;
}

.header .container .menu ul li span {
  width: 0px;
  background-color: #dc4f72;
  position: absolute;
  height: 2px;
  bottom: 14px;
}

.header .container .menu ul li .btn-schedual {
  width: 196px;
  border-color: #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  height: 54px;
}

.header .container .menu ul li .btn-schedual:hover {
  color: #fff;
  background-color: #dc4f72;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .container .menu ul li .drop-down {
  position: absolute;
  background-color: #fff;
  width: 176px;
  height: 136px;
  top: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  min-width: 11rem;
  padding: 1rem 0 0.3rem;
  -webkit-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
          box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  padding-top: 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  top: 54px;
  right: -67px;
}

.header .container .menu ul li .drop-down a {
  padding: 0 24px 14px 24px;
  color: #5a5a5a;
}

.header .container .menu ul li .drop-down::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  border-right: none;
  border-bottom: none;
  -webkit-transform: translateX(-50%) rotateZ(45deg);
          transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

.header .container .menu ul .li-drop-menu:hover .drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .menu ul .active a {
  color: #dc4f72;
}

.execute {
  margin-top: 90px;
}

.execute .container {
  max-width: 1200px;
  padding: 0 25px;
  padding-top: 80px;
}

.execute .container .row .col h1 {
  font-size: 3.125rem;
  font-weight: 500;
  color: #2c3038;
  line-height: 57.5px;
}

.execute .container .row .col p {
  font-size: 1.25rem;
  color: #5a5a5a;
  font-weight: 400;
  max-width: 450px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.execute .container .row .col a {
  border-color: #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  height: 54px;
  text-transform: uppercase;
  font-weight: 500;
  width: 156px;
}

.execute .container .row .col a:hover {
  color: #fff;
  background-color: #dc4f72;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.execute .container .row .col img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.choose {
  background-color: #fff;
  padding: 3rem 0;
}

.choose .row .col .choose__top .why {
  font-size: 1rem;
  font-weight: 500;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: center;
  margin-bottom: 5px;
}

.choose .row .col .choose__top h3 {
  color: #2c3038;
  font-size: 2.875rem;
  font-weight: 500;
  text-align: center;
  width: 750px;
  margin: auto;
  line-height: 1;
}

.choose .row .col .choose__top p {
  color: #5a5a5a;
  font-size: 1rem;
  font-weight: 400;
  width: 750px;
  text-align: center;
  margin: 16px auto;
}

.choose .row .col .choose__bottom {
  margin-top: 2.875rem;
}

.choose .row .col .choose__bottom .container {
  width: 1200px;
  padding: 0 25px 26px 25px;
}

.choose .row .col .choose__bottom .container .row .col-4 div {
  background-color: #f7f9fc;
  padding: 3rem 32px;
}

.choose .row .col .choose__bottom .container .row .col-4 div:hover {
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.choose .row .col .choose__bottom .container .row .col-4 div:focus-visible {
  outline: none;
}

.choose .row .col .choose__bottom .container .row .col-4 div a {
  width: 297px;
  height: 212px;
  margin: auto;
  text-align: center;
}

.choose .row .col .choose__bottom .container .row .col-4 div a h3 {
  color: #2c3038;
  font-size: 1.625rem;
  font-weight: 500;
  margin: 1rem 0;
}

.choose .row .col .choose__bottom .container .row .col-4 div a p {
  color: #5a5a5a;
  font-size: 1rem;
}

.about {
  padding: 48px 0;
  background-color: #F7F9FC;
}

.about .container {
  max-width: 1200px;
  padding: 16px 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about .container .row-top .col-6 div h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
  color: #dc4f72;
  text-transform: uppercase;
  text-align: left;
}

.about .container .row-top .col-6 div h3 {
  font-size: 35px;
  color: #2c3038;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.about .container .row-top .col-6 div p {
  font-size: 1rem;
  color: #5a5a5a;
  margin-bottom: 3.125rem;
}

.about .container .row-top .col-6 div a {
  border-color: #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  height: 54px;
  width: 156px;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-color: #dc4f72;
  color: #fff;
}

.about .container .row-top .col-6 div a:hover {
  background-color: #d62f58;
  border-color: #cf2952;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.about .container .row-top .col-left {
  padding: 0 48px 0 15px;
}

.about .container .row-top .col-right {
  padding: 0 15px 0 48px;
}

.about .container .row-top .col-right div img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.about .container .row-top .col-right div img:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: 0.3 ease-in-out;
  transition: 0.3 ease-in-out;
}

.about .container .row-bottom {
  margin-top: 89px;
}

.about .container .row-bottom .col-4 div {
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  -webkit-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
          box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  border: 1px solid #eee;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 32px;
}

.about .container .row-bottom .col-4 div h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.about .container .row-bottom .col-4 div .counter {
  font-size: 3.125rem;
  color: #dc4f72;
  font-weight: 700;
  line-height: 1;
  margin: 10px 0 15px 0;
}

.about .container .row-bottom .col-4 div p {
  margin: 0;
}

.weare {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.33))), url(../images/bg.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 480px;
}

.weare .container {
  max-width: 1200px;
  padding: 32px 25px;
}

.weare .container .row {
  padding-top: 40px;
}

.weare .container .row .col-6 h2 {
  color: #fff;
  font-size: 1.875rem;
  font-weight: 500;
}

.weare .container .row .col-6 p {
  font-size: 1rem;
  line-height: 24.5px;
  color: #eee;
  margin: 24px 0 48px 0;
}

.weare .container .row .col-6 a {
  width: 145px;
  height: 54px;
  color: #5a5a5a;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
  border: none;
  font-weight: 500;
}

.weare .container .row .col-6 a:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.blog {
  padding: 48px 0;
  background-color: #fff;
}

.blog .container {
  max-width: 1200px;
  padding: 16px 25px;
}

.blog .container .row-top .col div h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #dc4f72;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.blog .container .row-top .col div h3 {
  color: #2c3038;
  font-size: 3.125rem;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}

.blog .container .row-top .col div p {
  margin: 16px auto;
  color: #5a5a5a;
  font-size: 1rem;
  font-weight: 400;
  width: 750px;
  text-align: center;
}

.blog .container .row-bottom {
  margin-top: 45px;
}

.blog .container .row-bottom .col-4 .blog-div {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  border: 1px solid #eee;
  border-radius: 6px;
}

.blog .container .row-bottom .col-4 .blog-div a {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.blog .container .row-bottom .col-4 .blog-div a img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.blog .container .row-bottom .col-4 .blog-div a .date-blog {
  font-size: 1.125rem;
  color: #fff;
  font-weight: 500;
  border-bottom: none;
  position: absolute;
  background-color: #dc4f72;
  margin: 0;
  width: 135px;
  height: 54px;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog .container .row-bottom .col-4 .blog-div .blog-info {
  padding: 30px 20px;
}

.blog .container .row-bottom .col-4 .blog-div .blog-info span {
  margin-bottom: 15px;
  font-size: 13px;
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
  font-weight: 500;
  width: 82px;
  height: 29px;
  border-radius: 25px;
}

.blog .container .row-bottom .col-4 .blog-div .blog-info h4 a {
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  color: #2c3038;
  text-decoration: none;
}

.blog .container .row-bottom .col-4 .blog-div .blog-info p {
  font-size: 1rem;
  line-height: 24.5px;
  color: #5a5a5a;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.blog .container .row-bottom .col-4 .blog-div .blog-info .know-arrow {
  color: #dc4f72;
  text-decoration: none;
  font-size: 1rem;
}

.blog .container .row-bottom .col-4 .blog-div .blog-info .know-arrow i {
  font-size: 12px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.blog .container .row-bottom .col-4 .blog-div:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.blog .container .row-bottom .col-4 .blog-div:hover a img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.blog .container .row-bottom .col-4 .blog-div:hover .blog-info h4 a {
  color: #dc4f72;
}

.blog .container .row-bottom .col-4 .blog-div:hover .blog-info .know-arrow i {
  padding-left: 4px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.general {
  background-color: #f7f9fc;
  padding: 48px 0;
}

.general .container {
  max-width: 1200px;
  padding: 48px 25px;
}

.general .container .row-top .header-general h6 {
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.general .container .row-top .header-general h3 {
  font-size: 46px;
  color: #2c3038;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}

.general .container .row-top .header-general p {
  color: #5a5a5a;
  font-size: 1rem;
  line-height: 22.5px;
  font-weight: 400;
  text-align: center;
  max-width: 750px;
  margin: 16px auto;
}

.general .container .row-bottom .col-5 {
  padding: 0 25px;
  margin-top: 48px;
}

.general .container .row-bottom .col-5 div {
  height: 492px;
}

.general .container .row-bottom .col-5 div img {
  height: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -o-object-fit: cover;
     object-fit: cover;
}

.general .container .row-bottom .col-5 div img:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.general .container .row-bottom .col-7 {
  padding: 0 15px 0 45px;
  margin-top: 48px;
}

.general .container .row-bottom .col-7 div ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.general .container .row-bottom .col-7 div ul li {
  width: 623px;
  height: 70px;
  background-color: #fff;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.complete {
  background-color: #fff;
  padding: 3rem 0;
}

.complete .container {
  max-width: 1200px;
  padding: 16px 25px;
}

.complete .container .row-top .header-complete h6 {
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.complete .container .row-top .header-complete h3 {
  font-size: 46px;
  color: #2c3038;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}

.complete .container .row-top .header-complete p {
  color: #5a5a5a;
  font-size: 1rem;
  line-height: 22.5px;
  font-weight: 400;
  text-align: center;
  max-width: 750px;
  margin: 16px auto;
}

.complete .container .row-bottom {
  max-width: 1180px;
}

.complete .container .row-bottom .col-10 {
  padding: 0 15px;
}

.complete .container .row-bottom .col-10 ul li {
  width: 316px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #eee;
}

.complete .container .row-bottom .col-10 ul li button {
  border: none;
  font-size: 22px;
  font-weight: 500;
  color: #4e5b61;
}

.complete .container .row-bottom .col-10 ul li:focus-within {
  cursor: pointer;
  border-bottom: 3px solid #dc4f72;
}

.complete .container .row-bottom .col-10 ul li:focus-within button {
  color: #dc4f72;
}

.complete .container .row-bottom .col-10 .tab-project .tab-pane .row {
  padding: 15px 0;
  margin: 20px 0;
}

.complete .container .row-bottom .col-10 .tab-project .tab-pane .row .col-md-6 {
  padding: 0 15px;
}

.complete .container .row-bottom .col-10 .tab-project .tab-pane .row .col-md-6 div h3 {
  color: #2c3038;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 36px;
  font-weight: 500;
}

.complete .container .row-bottom .col-10 .tab-project .tab-pane .row .col-md-6 div a {
  border-color: #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  height: 54px;
  width: 153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.complete .container .row-bottom .col-10 .tab-project .tab-pane .row .col-md-6 div a:hover {
  color: #fff;
  background-color: #dc4f72;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.complete .container .row-bottom .col-10 .tab-project .tab-pane .row .col-md-6 div p {
  color: #5a5a5a;
}

.complete .container .row-bottom .col-10 .tab-project .tab-pane .row .col-md-6 div img {
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.complete .container .row-bottom .col-10 .tab-project .tab-pane .row .col-md-6 div img:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.client {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(247, 249, 252, 0.77)), to(rgba(247, 249, 252, 0.77))), url(../images/b2.jpg);
  background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(../images/b2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.client .container {
  max-width: 1200px;
  padding: 48px 25px;
  padding-top: 31px;
}

.client .container .row .title-client h6 {
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 33px;
}

.client .container .row .title-client h3 {
  font-size: 46px;
  color: #2c3038;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}

.client .container .row .title-client p {
  color: #5a5a5a;
  font-size: 1rem;
  line-height: 22.5px;
  font-weight: 400;
  text-align: center;
  max-width: 750px;
  margin: 16px auto;
}

.client .container .row .col div .container .client-owl .wrapper {
  padding: 32px;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 546px;
}

.client .container .row .col div .container .client-owl .wrapper .avatar-cricle {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 3px solid #dc4f72;
  border-radius: 50%;
}

.client .container .row .col div .container .client-owl .wrapper .content p {
  font-size: 1.125rem;
  line-height: 26px;
  color: #5a5a5a;
  margin: 0;
  width: 332px;
}

.client .container .row .col div .container .client-owl .wrapper .content .avatar-name {
  margin-top: 1.5rem;
}

.client .container .row .col div .container .client-owl .wrapper .content .avatar-name h4 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #dc4f72;
  margin: 0;
}

.client .container .row .col div .container .client-owl .wrapper .content .avatar-name p {
  font-size: 13px;
  color: #5a5a5a;
}

.ready {
  padding: 48px 0;
  background-color: #fff;
}

.ready .container {
  padding: 16px 25px;
}

.ready .container .row .col div h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  max-width: 750px;
  margin: auto;
}

.ready .container .row .col div p {
  color: #5a5a5a;
  font-size: 0.875rem;
  line-height: 22, 5px;
  font-weight: 400;
  width: 750px;
  margin: 16px auto;
}

.ready .container .row .col div .buttons-ready {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ready .container .row .col div .buttons-ready a {
  border-color: #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  width: 163px;
  margin: 0 8px;
}

.ready .container .row .col div .buttons-ready a:hover {
  color: #fff;
  background-color: #dc4f72;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ready .container .row .col div .buttons-ready .ready-btn--active {
  background-color: #dc4f72;
  color: #fff;
}

.ready .container .row .col div .buttons-ready .ready-btn--active:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}

.footer-home {
  padding: 48px 0;
  background-color: #f7f9fc;
}

.footer-home .container {
  max-width: 1200px;
  padding: 0 25px;
}

.footer-home .container .footer__up .footer__col-left .footer__up-item1 h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}

.footer-home .container .footer__up .footer__col-left .footer__up-item1 p {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  margin: 10px 0;
}

.footer-home .container .footer__up .footer__col-left .footer__up-item1 p:hover {
  opacity: 0.8;
  color: #dc4f72;
  cursor: pointer;
}

.footer-home .container .footer__up .footer__col-right .footer__up-item2 h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}

.footer-home .container .footer__up .footer__col-right .footer__up-item2 .footer__up-email {
  max-width: 527px;
  height: 226px;
  background-color: #fff;
  padding: 32px;
}

.footer-home .container .footer__up .footer__col-right .footer__up-item2 .footer__up-email h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 400;
}

.footer-home .container .footer__up .footer__col-right .footer__up-item2 .footer__up-email form {
  max-width: 463px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-home .container .footer__up .footer__col-right .footer__up-item2 .footer__up-email form input {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: #2c3038;
  font-weight: 600;
  border-radius: 6px;
}

.footer-home .container .footer__up .footer__col-right .footer__up-item2 .footer__up-email form button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 6px;
}

.footer-home .container .footer__up .footer__col-right .footer__up-item2 .footer__up-email form p {
  line-height: 22px;
  color: #5a5a5a;
  font-size: 16px;
}

.footer-home .container .footer__down {
  border-top: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  margin-top: 48px;
  max-width: 1150px;
}

.footer-home .container .footer__down .footer__down-content {
  max-width: 490px;
  padding: 0;
}

.footer-home .container .footer__down .footer__down-content p {
  line-height: 22px;
  color: #5a5a5a;
  font-size: 16px;
  padding: 0;
}

.footer-home .container .footer__down .footer__down-content p a {
  color: #2c3038;
  text-decoration: none;
}

.footer-home .container .footer__down .footer__down-content p a:hover {
  color: #dc4f72;
}

.footer-home .container .footer__down .footer__down-icon {
  max-width: 203px;
  padding: 0;
}

.footer-home .container .footer__down .footer__down-icon a {
  color: #5a5a5a;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.footer-home .container .footer__down .footer__down-icon a:hover {
  cursor: pointer;
  color: #dc4f72;
}

@media (max-width: 1819px) {
  .header {
    background-color: pink;
  }
}

@media (max-width: 1399.98px) {
  .header {
    background-color: #008000;
  }
}

@media (max-width: 1199.98px) {
  .header {
    background-color: yellow;
    height: 70px !important;
  }
  .client .owl-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .general .mobile__ul li {
    max-width: 100%;
  }
  .choose .choose__top h3 {
    font-size: 40px !important;
    max-width: 100% !important;
  }
  .choose .choose__top p {
    max-width: 100% !important;
  }
  .choose .mobile__choose__bottom {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .choose .mobile__choose__bottom .col-4 {
    margin-bottom: 30px !important;
    width: 40%;
  }
  .complete .nav {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .complete .nav li {
    max-width: 200px !important;
  }
  .about .row-top {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}

@media (max-width: 991.98px) {
  .header {
    background-color: red;
  }
  .header .menu {
    display: none !important;
  }
  .header .menu-mobile {
    display: block !important;
  }
  .execute .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .execute .row .mobile-excute-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .choose .mobile__choose__bottom .col-4 {
    margin-bottom: 30px !important;
    width: 58.33333333%;
  }
  .about .row-top .col-6 {
    padding: 0 !important;
    margin-bottom: 47px !important;
  }
  .blog .row-top h3 {
    font-size: 40px !important;
    max-width: 100% !important;
  }
  .blog .row-top p {
    max-width: 100% !important;
  }
  .blog .row-bottom {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .general .col-padding {
    padding: 0 !important;
  }
  .general .mobile-col-general {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .ready h3 {
    font-size: 40px !important;
    width: 100% !important;
  }
  .ready .ready-p {
    width: 100% !important;
  }
  .footer-home .footer__col-right {
    margin-top: 40px;
  }
  .footer-home .footer__col-right .footer__up-email {
    max-width: 100% !important;
  }
  .footer-home .footer__col-right .footer__up-email form {
    max-width: 100% !important;
  }
}

@media (max-width: 767.98px) {
  .header {
    background-color: #ec79be;
    height: 60px !important;
  }
  .execute {
    margin-top: 60px;
  }
  .execute .mobile-excute-content h1 {
    font-size: 40px !important;
  }
  .choose .choose__top h3 {
    font-size: 30px !important;
    line-height: 1.5 !important;
  }
  .choose .choose__bottom .col-4 a {
    width: 100% !important;
  }
  .about .row-bottom {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .about .row-bottom .col-4 {
    margin-bottom: 20px !important;
  }
  .general .header-general h3 {
    font-size: 35px !important;
    margin-top: 10px !important;
  }
  .general .row-bottom {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .general .row-bottom .mobile__ul {
    max-width: 100% !important;
    padding: 0 20px !important;
  }
  .complete {
    display: none;
  }
  .complete .header-complete h3 {
    font-size: 32px !important;
  }
  .client .title-client h3 {
    font-size: 32px !important;
  }
  .ready h3 {
    font-size: 32px !important;
  }
  .footer-home .footer__up .footer__col-left .footer__up-item1 {
    margin-bottom: 20px;
  }
  .footer-home .footer__up .footer__col-left .footer__up-item1 h3 {
    margin-bottom: 15px !important;
  }
  .footer-home .footer__down {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .footer-home .mobile__footer__down-content--p {
    text-align: center !important;
  }
}

@media (max-width: 575.98px) {
  .header {
    background-color: blueviolet;
  }
  .execute .mobile-excute-content h1 {
    font-size: 35px !important;
    line-height: 1.3 !important;
  }
  .execute .mobile-excute-col {
    margin-top: 40px !important;
  }
  .choose .choose__bottom .container {
    width: 100% !important;
  }
  .choose .choose__bottom .container .mobile__choose__bottom .col-4 {
    width: 100% !important;
  }
  .about .row-top .col-6 {
    width: 100% !important;
  }
  .about .row-bottom .col-4 {
    width: 100% !important;
  }
  .weare {
    height: 610px !important;
  }
  .weare .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .weare .row .col-6 {
    width: 100% !important;
  }
  .blog .row-top h3 {
    font-size: 30px !important;
  }
  .blog .row-bottom .col-4 {
    width: 100% !important;
  }
  .general .row-bottom .col-padding {
    width: 100% !important;
  }
  .client .client-owl .wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .client .client-owl .wrapper .content {
    text-align: center;
    margin-top: 20px;
  }
  .client .client-owl .wrapper .content p {
    width: 80% !important;
    text-align: center;
    margin: auto !important;
  }
  .footer-home .mobile__footer__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-home .footer__up-item2 h3 {
    margin-bottom: 10px !important;
  }
  .footer-home .mobile__footer__form {
    padding: 16px !important;
    height: 250px !important;
  }
}

@media (max-width: 319px) {
  .header {
    background-color: yellowgreen;
  }
}
/*# sourceMappingURL=home.css.map */