/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 24px */
/* 26px */
/* 30px */
/* 36px */
/* 40px */
/* 48px */
/* 50px */
/* 60px */
.header {
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.header .container {
  max-width: 1200px;
  padding: 0 25px;
}

.header .container .logo {
  color: #dc4f72;
  font-size: 1.625rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-decoration: none;
}

.header .container .menu ul {
  list-style-type: none;
  width: 648px;
  margin: 0;
}

.header .container .menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .container .menu ul li:hover a {
  color: #dc4f72;
}

.header .container .menu ul li:hover span {
  width: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .container .menu ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #5a5a5a;
}

.header .container .menu ul li .menu-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .menu ul li .menu-down i {
  font-size: 12px;
  padding-left: 4px;
}

.header .container .menu ul li span {
  width: 0px;
  background-color: #dc4f72;
  position: absolute;
  height: 2px;
  bottom: 14px;
}

.header .container .menu ul li .btn-schedual {
  width: 196px;
  border-color: #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  height: 54px;
}

.header .container .menu ul li .btn-schedual:hover {
  color: #fff;
  background-color: #dc4f72;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .container .menu ul li .drop-down {
  position: absolute;
  background-color: #fff;
  width: 176px;
  height: 136px;
  top: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  min-width: 11rem;
  padding: 1rem 0 0.3rem;
  -webkit-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
          box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  padding-top: 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  top: 54px;
  right: -67px;
}

.header .container .menu ul li .drop-down a {
  padding: 0 24px 14px 24px;
  color: #5a5a5a;
}

.header .container .menu ul li .drop-down::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  border-right: none;
  border-bottom: none;
  -webkit-transform: translateX(-50%) rotateZ(45deg);
          transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

.header .container .menu ul .li-drop-menu:hover .drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .menu ul .active a {
  color: #dc4f72;
}

.breadcrumbs {
  margin-top: 90px;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.875rem;
  background-color: #f7f9fc;
}

.breadcrumbs a {
  text-decoration: none;
  color: #dc4f72;
  margin-right: 5px;
}

.breadcrumbs span {
  margin-left: 5px;
}

.breadcrumbs .container {
  max-width: 1200px;
  padding: 0 25px;
}

.main {
  background-color: #f7f9fc;
}

.main .post-carousel {
  padding: 48px 0;
}

.main .post-carousel .container {
  max-width: 1200px;
  padding: 16px 25px;
}

.main .post-carousel .container .row .col .wrapper .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #fff;
}

.main .post-carousel .container .row .col .wrapper .item-left {
  position: relative;
}

.main .post-carousel .container .row .col .wrapper .item-left .date {
  font-size: 1.125rem;
  color: #fff;
  background-color: #dc4f72;
  width: 127px;
  height: 55px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.main .post-carousel .container .row .col .wrapper .item-left img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.main .post-carousel .container .row .col .wrapper .item-right {
  padding: 50px 30px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.main .post-carousel .container .row .col .wrapper .item-right .design {
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
}

.main .post-carousel .container .row .col .wrapper .item-right .Programming {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}

.main .post-carousel .container .row .col .wrapper .item-right span {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}

.main .post-carousel .container .row .col .wrapper .item-right h4 .h4-a {
  font-size: 26px;
  line-height: 35px;
  color: #2c3038;
  display: block;
  font-weight: 500;
  text-decoration: none;
}

.main .post-carousel .container .row .col .wrapper .item-right p {
  margin-top: 15px;
  line-height: 25px;
  color: #5a5a5a;
}

.main .post-carousel .container .row .col .wrapper .item-right .item-right__read {
  padding: 0;
  color: #dc4f72;
  text-decoration: none;
  border-radius: 0;
  position: relative;
  display: inline-block;
  margin-top: 33px;
}

.main .post-carousel .container .row .col .wrapper .item-right .item-right__read i {
  font-size: 12px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.main .post-carousel .container .row .col .wrapper .item-right .item-right__read:hover i {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding-left: 5px;
}

.main .post-carousel .container .row .col .wrapper .owl-nav button {
  width: 40px;
  height: 40px;
  background-color: rgba(220, 79, 114, 0.4);
  border-radius: 50%;
}

.main .post-carousel .container .row .col .wrapper .owl-nav button span {
  font-size: 2rem;
  color: #fff;
  line-height: 26px;
}

.main .post-carousel .container .row .col .wrapper .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  top: 160px;
}

.main .post-carousel .container .row .col .wrapper .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 160px;
}

.main .blog {
  padding: 48px 0;
  background-color: #fff;
}

.main .blog .container {
  max-width: 1200px;
  padding: 16px 25px;
}

.main .blog .container .row .col-4 .blog-div {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  border: 1px solid #eee;
  border-radius: 6px;
}

.main .blog .container .row .col-4 .blog-div a {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.main .blog .container .row .col-4 .blog-div a img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.main .blog .container .row .col-4 .blog-div a .date-blog {
  font-size: 1.125rem;
  color: #fff;
  font-weight: 500;
  border-bottom: none;
  position: absolute;
  background-color: #dc4f72;
  margin: 0;
  width: 135px;
  height: 54px;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .blog .container .row .col-4 .blog-div .blog-info {
  padding: 30px 20px;
}

.main .blog .container .row .col-4 .blog-div .blog-info span {
  margin-bottom: 15px;
  font-size: 13px;
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
  font-weight: 500;
  width: 82px;
  height: 29px;
  border-radius: 25px;
}

.main .blog .container .row .col-4 .blog-div .blog-info h4 a {
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  color: #2c3038;
  text-decoration: none;
}

.main .blog .container .row .col-4 .blog-div .blog-info p {
  font-size: 1rem;
  line-height: 24.5px;
  color: #5a5a5a;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.main .blog .container .row .col-4 .blog-div .blog-info .know-arrow {
  color: #dc4f72;
  text-decoration: none;
  font-size: 1rem;
}

.main .blog .container .row .col-4 .blog-div .blog-info .know-arrow i {
  font-size: 12px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.main .blog .container .row .col-4 .blog-div:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.main .blog .container .row .col-4 .blog-div:hover a img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.main .blog .container .row .col-4 .blog-div:hover .blog-info h4 a {
  color: #dc4f72;
}

.main .blog .container .row .col-4 .blog-div:hover .blog-info .know-arrow i {
  padding-left: 4px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.main .footer-home {
  padding: 48px 0;
  background-color: #f7f9fc;
}

.main .footer-home .container {
  max-width: 1200px;
  padding: 0 25px;
}

.main .footer-home .container .footer__up .footer__col-left .footer__up-item1 h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}

.main .footer-home .container .footer__up .footer__col-left .footer__up-item1 p {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  margin: 10px 0;
}

.main .footer-home .container .footer__up .footer__col-left .footer__up-item1 p:hover {
  opacity: 0.8;
  color: #dc4f72;
  cursor: pointer;
}

.main .footer-home .container .footer__up .footer__col-right .footer__up-item2 h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}

.main .footer-home .container .footer__up .footer__col-right .footer__up-item2 .footer__up-email {
  max-width: 527px;
  height: 226px;
  background-color: #fff;
  padding: 32px;
  -webkit-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
          box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.main .footer-home .container .footer__up .footer__col-right .footer__up-item2 .footer__up-email h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 400;
}

.main .footer-home .container .footer__up .footer__col-right .footer__up-item2 .footer__up-email form {
  max-width: 463px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .footer-home .container .footer__up .footer__col-right .footer__up-item2 .footer__up-email form input {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: #2c3038;
  font-weight: 600;
  border-radius: 6px;
}

.main .footer-home .container .footer__up .footer__col-right .footer__up-item2 .footer__up-email form button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 6px;
}

.main .footer-home .container .footer__up .footer__col-right .footer__up-item2 .footer__up-email form p {
  line-height: 22px;
  color: #5a5a5a;
  font-size: 16px;
}

.main .footer-home .container .footer__down {
  border-top: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  margin-top: 48px;
  max-width: 1150px;
}

.main .footer-home .container .footer__down .footer__down-content {
  max-width: 490px;
  padding: 0;
}

.main .footer-home .container .footer__down .footer__down-content p {
  line-height: 22px;
  color: #5a5a5a;
  font-size: 16px;
  padding: 0;
}

.main .footer-home .container .footer__down .footer__down-content p a {
  color: #2c3038;
  text-decoration: none;
}

.main .footer-home .container .footer__down .footer__down-content p a:hover {
  color: #dc4f72;
}

.main .footer-home .container .footer__down .footer__down-icon {
  max-width: 203px;
  padding: 0;
}

.main .footer-home .container .footer__down .footer__down-icon a {
  color: #5a5a5a;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.main .footer-home .container .footer__down .footer__down-icon a:hover {
  cursor: pointer;
  color: #dc4f72;
}

@media (max-width: 1819px) {
  .header {
    background-color: pink;
  }
}

@media (max-width: 1399.98px) {
  .header {
    background-color: #008000;
  }
}

@media (max-width: 1199.98px) {
  .header {
    background-color: yellow;
    height: 70px !important;
  }
}

@media (max-width: 991.98px) {
  .header {
    background-color: red;
  }
  .header .menu {
    display: none;
  }
  .header .menu-mobile {
    display: block !important;
    border-radius: 5px;
    width: 36px;
    height: 36px;
    background-color: yellowgreen;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
  }
  .header .menu-mobile .icon-toggle {
    color: #fff;
    font-size: 28px;
    line-height: 36px;
  }
  .header .menu-mobile .menu-mobile__toggle {
    position: fixed;
    top: 70px;
    right: 0;
    left: 0;
    background-color: #fff;
    height: 350px;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    padding-bottom: 30px;
  }
  .header .menu-mobile .menu-mobile__toggle li {
    list-style-type: none;
  }
  .header .menu-mobile .menu-mobile__toggle li a {
    text-decoration: none;
    color: #5a5a5a;
  }
  .header .menu-mobile .menu-mobile__toggle .mobile-btn {
    margin: auto;
    width: 196px;
    height: 54px;
    border-color: #dc4f72;
    color: #dc4f72;
    font-size: 14px;
    font-weight: 500;
  }
  .header .menu-mobile .is-show {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    display: none;
  }
  .header .menu-mobile .active a {
    color: #dc4f72 !important;
  }
  .post-carousel .wrapper .item {
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
  }
  .footer-home .footer__up-email {
    max-width: 100% !important;
  }
  .footer-home .footer__up-email form {
    max-width: 100% !important;
  }
  .footer-home .footer__down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .header {
    background-color: #ec79be;
  }
}

@media (max-width: 575.98px) {
  .header {
    background-color: blueviolet;
  }
  .post-carousel .post-owl .owl-nav {
    display: none !important;
  }
  .blog .row-blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .row-blog .col-4 {
    width: 100% !important;
  }
  .footer-home .footer__up-item1 {
    margin-bottom: 20px !important;
  }
  .footer-home .footer__up-item1 h3 {
    margin-bottom: 15px !important;
  }
  .footer-home .footer__up-email {
    height: 260px !important;
  }
  .footer-home .footer__up-email h4 {
    font-size: 17px !important;
  }
  .footer-home form button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-home .footer__down-content p {
    text-align: center;
  }
}

@media (max-width: 319px) {
  .header {
    background-color: yellowgreen;
  }
}
/*# sourceMappingURL=post.css.map */