/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 24px */
/* 26px */
/* 30px */
/* 36px */
/* 48px */
/* 60px */
.header {
  height: 90px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.header .container .logo {
  color: #dc4f72;
  font-size: 1.625rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-decoration: none;
}

.header .container .menu ul {
  list-style-type: none;
  width: 648px;
}

.header .container .menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .container .menu ul li:hover a {
  color: #dc4f72;
}

.header .container .menu ul li:hover span {
  width: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .container .menu ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #5a5a5a;
}

.header .container .menu ul li span {
  width: 0px;
  background-color: #dc4f72;
  position: absolute;
  height: 2px;
  bottom: 14px;
}

.header .container .menu ul li .btn-schedual {
  border-color: #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  width: 196px;
  height: 54px;
}

.header .container .menu ul li .btn-schedual:hover {
  color: #fff;
  background-color: #dc4f72;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .container .menu ul .active a {
  color: #dc4f72;
}

.breadcrumbs {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.875rem;
  background-color: #F7F9FC;
}

.breadcrumbs a {
  text-decoration: none;
  color: #dc4f72;
  margin-right: 5px;
}

.breadcrumbs span {
  margin-left: 5px;
}

.about {
  padding: 5.625rem 0 3.75rem 0;
}

.about .container h1 {
  text-align: center;
  font-weight: 700;
}

.about .container .about__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 2.5rem 0 4rem 0;
}

.about .container .about__up .about__up-left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about .container .about__up .about__up-left h1 {
  font-size: 2.25rem;
  color: #2c3038;
  font-weight: 400 !important;
  text-align: left !important;
}

.about .container .about__up .about__up-left span {
  font-size: 0.875rem;
  display: block;
  color: #5a5a5a;
  margin: 1rem 0;
  width: 100%;
}

.about .container .about__up .about__up-left ul {
  padding-left: unset;
  list-style-type: none;
}

.about .container .about__up .about__up-left ul li {
  margin-bottom: 0.625rem;
}

.about .container .about__up .about__up-left ul li i {
  padding: 5px;
  margin-right: 0.625rem;
  background-color: #FDF6F8;
  border-radius: 50%;
  color: #dc4f72;
  font-size: 0.75rem;
}

.about .container .about__up .about__up-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about .container .about__up .about__up-right img {
  width: 100%;
}

.about .container .about__down {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .container .about__down .about__down-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.about .container .about__down .about__down-item h1 {
  font-size: 1.625rem;
  color: #2c3038;
  font-weight: 500 !important;
  text-align: left !important;
}

.about .container .about__down .about__down-item span {
  font-size: 0.875rem;
  display: block;
  color: #5a5a5a;
  margin: 1rem 0;
  width: 100%;
}

.features .features__title {
  text-align: center;
}

.features .features__title h3 {
  font-size: 0.875rem;
  color: #dc4f72;
}

.features .features__title h1 {
  font-size: 2.25rem;
  color: #2c3038;
  font-weight: 500 !important;
  text-align: center !important;
}

.features .features__title span {
  font-size: 0.875rem;
  display: block;
  color: #5a5a5a;
  margin: 1rem auto;
  width: 60%;
}

.features .features__content {
  margin-top: 5.625rem;
}

.features .features__content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.features .features__content .row .column {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
}

.features .features__content .row .column .features__content-icon {
  -webkit-transition: fadeInDown 1s;
  transition: fadeInDown 1s;
  margin: 0 auto 1.2rem auto;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: #dc4f72;
  position: relative;
}

.features .features__content .row .column .features__content-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.25rem;
  color: #fff;
}

.features .features__content .row .column h1 {
  font-size: 1.25rem;
  color: #2c3038;
  font-weight: 500 !important;
  text-align: center !important;
}

.features .features__content .row .column .description {
  display: none;
}

.features .features__content .row .column .description span {
  font-size: 0.875rem;
  display: block;
  color: #5a5a5a;
  margin: 1rem 0;
  width: 100%;
}

.features .features__content .row .column .description a {
  font-size: 1.125rem;
  color: #dc4f72;
  font-weight: 700;
  text-decoration: none;
}

.features .features__content .row .column .description a:hover {
  text-decoration: underline;
}

.features .features__content .row .column .description .test-1 {
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.features .features__content .row .column .description .test-2 {
  -webkit-transition: all 0.1s ease-in-out 0.5s;
  transition: all 0.1s ease-in-out 0.5s;
}

.features .features__content .row .column .description .test-3 {
  -webkit-transition: all 0.1s ease-in-out 1s;
  transition: all 0.1s ease-in-out 1s;
}

.features .features__content .row .column:hover .test-1 {
  -webkit-transform: translateY(-3.125rem);
          transform: translateY(-3.125rem);
}

.features .features__content .row .column:hover .test-2 {
  -webkit-transform: translateY(-3.125rem);
          transform: translateY(-3.125rem);
}

.features .features__content .row .column:hover .test-3 {
  -webkit-transform: translateY(-3.125rem);
          transform: translateY(-3.125rem);
}

.features .features__content .row .column:hover .description {
  display: block;
}

.features .features__content .row .column .test-1 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.features .features__content .row .column .test-2 {
  -webkit-transition: all 0.2s linear 0.1s;
  transition: all 0.2s linear 0.1s;
}

.features .features__content .row .column .test-3 {
  -webkit-transition: all 0.2s linear 0.2s;
  transition: all 0.2s linear 0.2s;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */