
    * {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    }
    i {
        font: normal normal normal 16px/1 FontAwesome !important;
    }
    .breadcrumbs i {
        font-size: 8px !important;
    }
html {
    font-size: 16px;
   @include MediaQuery($sm) {
        font-size: 10px;
    }
}
// About

// about breadcrumbs
.breadcrumbs {
    position: relative;
    top: 90px;
    font-size: $text-sm;
    font-weight: $font-normal;
    padding: 0.875rem;
    background-color: $c1;
    a {
        text-decoration: none;
        color: $color-primary;
        margin-right: 5px;
    }
    span {
        margin-left: 5px;
    }
}

// About Us
.about {
    padding: 7.625rem 0 3.75rem 0;
    .container {
        h1 {
            text-align: center;
            font-weight: $font-bold;
        }
        .about__up {
            display: flex;
            justify-content: left;
            margin: 2.5rem 0 4rem 0;
            @include MediaQuery($sm) {
                flex-direction: column;
            }
            .about__up-left {
                flex-basis: 50%;
                h1 {
                    @include general-title($text-4xxl, $color-title, $font-normal, left);
                    @include MediaQuery($sm) {
                        font-size: $text-2xxl;
                    }
                }
                span {
                    @include general-span($text-base, $color-text, 1rem 0, 100%, left);
                }
                ul {
                    padding-left: unset;
                    list-style-type: none;
                    li {
                        margin-bottom: 0.9375rem;
                        @include general-title($text-base, $color-title, $font-semibold, left);
                       i {
                           padding: 0.5rem;
                           margin-right: 0.625rem;
                           background-color: $c1-300;
                           border-radius: 50%;
                           color: $color-primary;
                           font-size: 0.625rem !important;
                           opacity: 0.5;
                       }
                    }
                }
            }
            .about__up-right {
                flex-basis: 50%;
                transition: all 0.4s;
                &:hover {
                    transform: translateY(-1.25rem);
                }
                img {
                    width: 100%;
                    border-radius: 5px;
                }
            }
        }
        .about__down {
            margin: 3rem 0;
            display: flex;
            justify-content: space-between;
            @include MediaQuery($sm) {
                flex-direction: column;
            }
            .about__down-item {
                flex-basis: 30%;
                h1 {
                    @include general-title($text-2xxl, $color-title, $font-semibold, left);
                }
                span {
                    @include general-span($text-base, $color-text, 1rem 0, 100%, left);
                }
            }
        }
    }
}

// Features
.features {
    padding: 3.75rem 0;
    background-color: $c1;
    .features__title {
        h3 {
            @include general-title($text-lg, $color-primary, $font-semibold, center);
            
        }
        text-align: center;
        h1 {
            @include general-title($text-4xxl, $color-title, $font-semibold, center);
            @include MediaQuery($sm) {
                font-size: $text-2xl;
            }
        }
        span {
            @include general-span($text-base, $color-text, 1rem auto, 60%);
            @include MediaQuery($sm) {
                width: 100%;
            }
        }
    }
    .features__content {
        margin-top: 5.625rem;
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include MediaQuery($sm) {
                flex-direction: row;
            }
            @include MediaQuery($xs) {
                flex-direction: column;
            }
            .column{
                width: 25%;
                @include MediaQuery($sm) {
                    margin-top: 3.125rem;
                    width: 50%;
                }
                @include MediaQuery($xs) {
                    width: 100%;
                }
                .item {
                    height: 15.625rem;
                    text-align: center;
                    background-color: $color-white;
                    border-radius: 0.625rem;
                    position: relative;
                    .title {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        .features__content-icon {
                            transition: all 0.3s;
                            margin: 0 auto 1.2rem auto;
                            width: 4.375rem;
                            height: 4.375rem;
                            border-radius: 50%;
                            background-color: $color-primary;
                            position: relative;
                            
                            i {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                font-size: $text-2xl !important;
                                color: $color-white;
                            }
                        }
                        h1 {
                            @include general-title($text-xl, $color-title, $font-bold, center);
                            
                        }
                    }
                    .description {
                        position: absolute;
                        bottom: 1.25rem;
                        opacity: 0;
                        // display: none;
                        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                        span {
                            @include general-span($text-base, $color-text, 1rem 0);
                        }
                        a {
                            @include general-more( $text-lg, $color-primary,  $font-bold, none);
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    &:hover {
    
                        @for $i from 0 to 2 {
                            .test-#{$i+1} {
                                transform: translateY(-5.625rem);
                            }
                        }
                        .description {
                            // display: block;
                            opacity: 1;
                            animation: zoomIn 0.5s ;
                        }
                    }
                    @for $i from 0 to 2 {
                        .test-#{$i+1} {
                           transition: all 0.4s linear 0.1s*$i;
                        }
                    }
                }
            }
        }
    }
}

// Introduce
.intro {
    padding: 5.625rem 0;
    .container {
        .intro__title {
            h3 {
                @include general-title($text-base, $color-primary, $font-bold, center);
            }
            h1 {
                @include general-title($text-4xxl, $color-title, $font-semibold, center);
                @include MediaQuery($sm) {
                    font-size: $text-2xl;
                }
            }
            span {
                @include general-span($text-base, $color-text, 1rem auto, 70%);
                @include MediaQuery($sm) {
                    width: 100%;
                }
            }
        }
        .intro__content {
            margin-top: 3.75rem;
            text-align: center;
            .intro__content-img {
                position: relative;
                img {
                    display: block;
                    margin: auto;
                    width: 50%;
                    transition: all 0.4s;
                    &:hover {
                        transform: translateY(-1.25rem);
                    }
                    @include MediaQuery($sm) {
                        width: 100%;
                    }
                }
                .intro__content-icon {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s;
                    a {
                        // position: relative;
                        display: block;
                        &::after {
                            @include rings(2s, 0.5s);
                          }
                          
                          &::before {
                            @include rings(2s, 1s);
                          }
                      
                        @include general-icon(3rem, 3rem, $color-white, $color-primary, 1rem);
                       
                    }
                }
            }
            .btn-request {
                @include general-btn(0.625rem 1.875rem, 0.25rem, $color-primary,  $color-white);
                margin-top: 3.75rem;
                transition: all 0.4s;
                &:hover {
                    background-color: $c1-400;
                }
            }
        }
    }
}
//  Customer
.customer {
    padding-bottom: 3rem;
    .owl-carousel
    {
        .owl-item  {
            img {
                filter: grayscale(100%);
                transition: all 1s;
                &:hover {
                    filter: grayscale(0);
                }
            }
    
        }
        .owl-dots{
            display: none;
        }
            
    } 
}

// Team Member
.team {
    background-color: $c1;
    padding-top: 3rem;
    .container {
        .team__title {
            width: 60%;
            margin: 6.25rem auto 3.75rem auto;
            @include MediaQuery($sm) {
                   width: 100%;
               }
            h3 {
                @include general-title($text-base, $color-primary, $font-bold, center);
            }
            h1 {
                @include general-title($text-4xxl, $color-title, $font-semibold, center);
                @include MediaQuery($sm) {
                    font-size: $text-2xl;
                }
            }
            span {
                @include general-span($text-base, $color-text, 1rem auto, 100%);
            }
        }
        .team__content {
            .row {
                display: flex;
                justify-content: space-between;
               @include MediaQuery($sm) {
                    flex-direction: row;
                }
               @include MediaQuery($xs) {
                    flex-direction: column;
                }
                .column {
                    width: 25%;
                    padding-bottom: 3.25rem;
                   @include MediaQuery($sm) {
                        width: 50%;
                    }
                   @include MediaQuery($xs) {
                        width: 100%;
                    }
                    .team__item {
                        height: 25rem;
                        background-color: $color-white;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        transition: all 0.5s;
                        &:hover {
                            transform: translateY(-0.625rem);
                            .team__item-content {
                                h1 {
                                    color: $color-primary;
                                }
                            }
                        }
                        .team__item-img {
                            height: 70%;
                            img {
                                width: 100%;
                                border-radius: 0.625rem 0.625rem 0 0;
                                vertical-align: middle;
                                cursor: pointer;
                                object-fit: cover;
                                object-position: center;
                            }
                            transition: all 1s;
                        }
                        .team__item-content {
                            padding: 16px;
                            background: #fff;
                            border-radius: 0 0 6px 6px;
                            border: 1px solid #eee;
                            border-top: none;
                            height: 30%;
                            h1 {
                                @include general-title($text-xl, $color-title, $font-bold, left);
                            }
                            span {
                                @include general-span($text-base, $color-text, 5px 0, 100%, left);
                            }
                            .item__logo {
                               .item__logo-fb {
                                    @include general-icon(1.5rem, 1.5rem, #3B5998, $color-white, 1rem);
                                }
                               .item__logo-tw {
                                    @include general-icon(1.5rem, 1.5rem, #1DA1F2, $color-white, 1rem);
                                }
                            }
                        }
                    }
                }
            }
    
        }

    }
}

// Build brand

.build {
    text-align: center;
    .build__title {
        width: 60%;
        margin: 6.25rem auto 3.75rem auto;
       @include MediaQuery($sm) {
            width: 100%;
        }
        h1 {
            @include general-title($text-4xxl, $color-title, $font-semibold, center);
           @include MediaQuery($sm) {
                font-size: $text-2xl;
            }
        }
        span {
            @include general-span($text-base, $color-text, 1rem 0);
        }
    }
    .build__btn {
        .build__btn-1 {
            @include general-btn(0.625rem 1.5625rem, 0.25rem, $color-white,  $color-primary, 1px solid $color-primary);
            margin-right: 1.25rem;
            transition: all 0.4s;
            &:hover {
                background-color: $c1-400;
                color: $color-white
            }
        }
        .build__btn-2 {
            @include general-btn(0.625rem 1.5625rem, 0.25rem, $color-primary,  $color-white);
            &:hover {
                background-color: $c1-400;
            }
        }
    }
}

// Footer 
.footer {
    margin-top: 6.25rem;
    background-color: $c1;
    .footer__up {
        padding: 3.75rem 0;
        border-bottom: 1px solid $c1-350;
        display: flex;
        justify-content: space-between;
       @include MediaQuery($sm) {
            flex-direction: column;
        }
        .footer__up-item1 {
            width: 50%;
            flex: unset !important;
            display: flex;
            justify-content: space-between;
           @include MediaQuery($sm) {
                width: 100%;
            }
           @include MediaQuery($xs) {
                flex-direction: column;
            }
            .item{
                h1 {
                    @include general-title($text-2xl, $color-title, $font-semibold, left);
                }
                span {
                    @include general-span($text-base, $color-text, 1rem 0, 100%, left);
                    font-size: $text-base !important;
                    transition: all 0.4s;
                    cursor: pointer;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
        .footer__up-item2 {
            margin-left: 6rem;
            @include MediaQuery($sm) {
                margin-left: unset  !important;
            }
            h1 {
                @include general-title($text-xl, $color-title, $font-bold, left);
                text-align: left !important;
            }
            .footer__up-email {
                padding: 2rem;
                border-radius: 0.625rem;
                background-color: $color-white;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                p {
                    @include general-span($text-lg, $color-text, 1rem 0, 100%, left);
                }
                input {
                    padding: 0.625rem 7rem 0.625rem 0.625rem;
                    font-size: $text-base !important;
                    font-weight: $font-semibold;
                    border-radius: 5px;
                    border: none;
                    background-color: $c1;
                    outline: none;
                }
                a {
                    button {
                        @include general-btn(0.625rem 1.8rem, 0.25rem, $color-primary,  $color-white);
                        padding: 0.625rem 1.8rem !important;
                        display: inline;
                    }
                }
                span {
                    @include general-span($text-base, $color-text, 1rem 0 0 0, 100%, left);
                    font-size: $text-base !important;
                }
            }
        }
    }
    .footer__down {
        padding: 2.5rem 0;
        display: flex;
        justify-content: space-between;
        @include MediaQuery($sm) {
            flex-direction: column;
            text-align: center;
        }
        .footer__down-content {
            span {
                @include general-span($text-sm, $color-text, 1rem 0);
            }
        }
        .footer__down-icon {
            a {
                color: unset;
                font-size: $text-sm;
                margin-right: 1.25rem;
                transition: all 0.4s;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}

// Pull right
.pull {
    position: fixed;
    top: 0;
    right: 0;
    width: 5.625rem;
    margin-top: 5.625rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: $text-base;
    background-color: $c2;
    color: $c2-50;
    border-bottom-left-radius: 0.625rem;
   @include MediaQuery($sm) {
        display: none;
    }
   @include MediaQuery($xl) {
        display: none;
    }
    span {
        padding: 1rem 1rem;
        &:first-child {
            border-bottom: 1px solid $c2-100;
        }
        i {
            cursor: pointer;
        }
    }
    .pull-hover {
        &:hover {
            color: $color-white;
        }
    }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75,0.75,1);
  }
  
  to {
    opacity: 0;
    transform: scale3d(1.5,1.5,1);
  }
}

