
html {
    font-size: 16px;
}
// About

// about breadcrumbs
.breadcrumbs {
    position: relative;
    top: 90px;
    font-size: $text-sm;
    font-weight: $font-normal;
    padding: 0.875rem;
    background-color: $c1;
    a {
        text-decoration: none;
        color: $color-primary;
        margin-right: 5px;
    }
    span {
        margin-left: 5px;
    }
}

// About Us
.about {
    padding: 5.625rem 0 3.75rem 0;
    .container {
        h1 {
            text-align: center;
            font-weight: $font-bold;
        }
        .about__up {
            display: flex;
            justify-content: left;
            margin: 2.5rem 0 4rem 0;
            .about__up-left {
                flex-basis: 50%;
                h1 {
                    @include general-title($text-4xl, $color-title, $font-normal, left);
                }
                span {
                    @include general-span($text-sm, $color-text, 1rem 0);
                }
                ul {
                    padding-left: unset;
                    list-style-type: none;
                    li {
                        margin-bottom: 0.625rem;
                       i {
                           padding: 5px;
                           margin-right: 0.625rem;
                           background-color: $c1-300;
                           border-radius: 50%;
                           color: $color-primary;
                           font-size: $text-xs;
                       }
                    }
                }
            }
            .about__up-right {
                flex-basis: 50%;
                img {
                    width: 100%;
                }
            }
        }
        .about__down {
            margin: 3rem 0;
            display: flex;
            justify-content: space-between;
            .about__down-item {
                flex-basis: 30%;
                h1 {
                    @include general-title($text-2xxl, $color-title, $font-semibold, left);
                }
                span {
                    @include general-span($text-sm, $color-text, 1rem 0);
                }
            }
        }
    }
}

// Features
.features {
    padding: 3.75rem 0;
    background-color: $c1;
    .features__title {
        h3 {
            @include general-title($text-sm, $color-primary, $font-semibold, center);
        }
        text-align: center;
        h1 {
            @include general-title($text-4xl, $color-title, $font-semibold, center);
        }
        span {
            @include general-span($text-sm, $color-text, 1rem auto, 60%);
        }
    }
    .features__content {
        margin-top: 5.625rem;
        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .column{
                flex-basis: 22%;
                height: 15.625rem;
                text-align: center;
                background-color: $color-white;
                border-radius: 0.625rem;
                position: relative;
                .title {
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .features__content-icon {
                        transition: all 0.3s;
                        margin: 0 auto 1.2rem auto;
                        width: 3.75rem;
                        height: 3.75rem;
                        border-radius: 50%;
                        background-color: $color-primary;
                        position: relative;
                        
                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: $text-xl;
                            color: $color-white;
                        }
                    }
                    h1 {
                        @include general-title($text-xl, $color-title, $font-semibold, center);
                    }
                }
                .description {
                    position: absolute;
                    bottom: 1.25rem;
                    opacity: 0;
                    // display: none;
                    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    span {
                        @include general-span($text-sm, $color-text, 1rem 0);
                    }
                    a {
                        @include general-more( $text-lg, $color-primary,  $font-bold, none);
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                &:hover {

                    @for $i from 0 to 2 {
                        .test-#{$i+1} {
                            transform: translateY(-5.625rem);
                        }
                    }
                    .description {
                        // display: block;
                        opacity: 1;
                        animation: zoomIn 0.5s ;
                    }
                }
                @for $i from 0 to 2 {
                    .test-#{$i+1} {
                       transition: all 0.4s linear 0.1s*$i;
                    }
                }
            }
        }
    }
}

// Introduce
.intro {
    padding: 5.625rem 0;
    .container {
        .intro__title {
            h3 {
                @include general-title($text-sm, $color-primary, $font-semibold, center);
            }
            h1 {
                @include general-title($text-4xl, $color-title, $font-normal, center);
            }
            span {
                @include general-span($text-sm, $color-text, 1rem auto, 70%);
            }
        }
        .intro__content {
            margin-top: 3.75rem;
            text-align: center;
            .intro__content-img {
                position: relative;
                img {
                    display: block;
                    margin: auto;
                    width: 50%;
                    transition: all 0.4s;
                    &:hover {
                        transform: translateY(-1.25rem);
                    }
                }
                .intro__content-icon {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    a {
                        @include general-icon(3rem, 3rem, $color-white, $color-primary, 1rem);
                    }
                }
            }
            .btn-request {
                @include general-btn(0.625rem 1.875rem, 0.25rem, $color-primary,  $color-white);
                margin-top: 3.75rem;
                transition: all 0.4s;
                &:hover {
                    background-color: $c1-400;
                }
            }
        }
    }
}
//  Customer
.customer {
    .owl-carousel
    {
        .owl-item  {
            img {
                filter: grayscale(100%);
                transition: all 1s;
                &:hover {
                    filter: grayscale(0);
                }
            }
    
        }
    } 
}

// Team Member
.team {
    background-color: $c1;
    .team__title {
        width: 60%;
        margin: 6.25rem auto 3.75rem auto;
        h3 {
            @include general-title($text-sm, $color-primary, $font-semibold, center);
        }
        h1 {
            @include general-title($text-4xl, $color-title, $font-normal, center);
        }
        span {
            @include general-span($text-sm, $color-text, 1rem 0);
        }
    }
    .team__content {
        .row {
            display: flex;
            flex-direction: row;
            .column {
                width: 100%;
                flex-basis: 25%;
                padding-bottom: 3.25rem;
                transition: all 0.4s;
                &:hover {
                    transform: translateY(-1rem);
                    .team__item {
                        .team__item-content {
                            h1 {
                                color: $color-primary;
                            }
                        }
                    }
                }
                .team__item {
                    height: 25rem;
                    background-color: $color-white;
                    display: flex;
                    flex-direction: column;
                    .team__item-img {
                        height: 70%;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 0.625rem 0.625rem 0 0;
                            vertical-align: middle;
                            cursor: pointer;
                        }
                    }
                    .team__item-content {
                        padding: 16px;
                        background: #fff;
                        border-radius: 0 0 6px 6px;
                        border: 1px solid #eee;
                        border-top: none;
                        // margin-top: -6px;
                        height: 30%;
                        h1 {
                            @include general-title($text-xl, $color-title, $font-bold, left);
                        }
                        span {
                            @include general-span($text-sm, $color-text, 5px 0, 100%, left);
                        }
                        .item__logo {
                           .item__logo-fb {
                                @include general-icon(1.5rem, 1.5rem, #3B5998, $color-white, 1rem);
                            }
                           .item__logo-tw {
                                @include general-icon(1.5rem, 1.5rem, #1DA1F2, $color-white, 1rem);
                            }
                        }
                    }
                }
            }
        }

    }
}

// Build brand

.build {
    text-align: center;
    .build__title {
        width: 60%;
        margin: 6.25rem auto 3.75rem auto;
        h1 {
            @include general-title($text-4xl, $color-title, $font-normal, center);
        }
        span {
            @include general-span($text-sm, $color-text, 1rem 0);
        }
    }
    .build__btn {
        .build__btn-1 {
            @include general-btn(0.625rem 1.5625rem, 0.25rem, $color-white,  $color-primary, 1px solid $color-primary);
            margin-right: 1.25rem;
            transition: all 0.4s;
            &:hover {
                background-color: $c1-400;
                color: $color-white
            }
        }
        .build__btn-2 {
            @include general-btn(0.625rem 1.5625rem, 0.25rem, $color-primary,  $color-white);
            &:hover {
                background-color: $c1-400;
            }
        }
    }
}
.test-1:hover {
    transition: all 1s;
}
.column {
    transition: all 1s;
}

// Footer 
.footer {
    margin-top: 6.25rem;
    background-color: $c1;
    .footer__up {
        padding: 3.75rem 0;
        border-bottom: 1px solid $c1-350;
        display: flex;
        justify-content: space-between;
        .footer__up-item1 {
            flex: 1;
            h1 {
                @include general-title($text-lg, $color-title, $font-bold, left);
            }
            span {
                @include general-span($text-sm, $color-text, 1rem 0, 100%, left);
                transition: all 0.4s;
                cursor: pointer;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .footer__up-item2 {
            margin-left: 6rem;
            flex: 3;
            h1 {
                @include general-title($text-lg, $color-title, $font-bold, center);
            }
            .footer__up-email {
                padding: 2rem;
                border-radius: 0.625rem;
                background-color: $color-white;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                input {
                    padding: 0.625rem 7rem 0.625rem 0.625rem;
                    font-size: $text-sm;
                    border-radius: 5px;
                    border: none;
                    background-color: $c1;
                    outline: none;
                }
                a {
                    button {
                        @include general-btn(0.625rem 1.875rem, 0.25rem, $color-primary,  $color-white);
                        display: inline;
                    }
                }
                span {
                    @include general-span($text-sm, $color-text, 1rem 0 0 0, 100%, left);
                }
            }
        }
    }
    .footer__down {
        padding: 2.5rem 0;
        display: flex;
        justify-content: space-between;
        .footer__down-content {
            span {
                @include general-span($text-sm, $color-text, 1rem 0);
            }
        }
        .footer__down-icon {
            a {
                color: unset;
                font-size: $text-sm;
                margin-right: 1.25rem;
                transition: all 0.4s;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}

// Pull right
.pull {
    position: fixed;
    top: 0;
    right: 0;
    width: 5.625rem;
    margin-top: 5.625rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: $text-base;
    background-color: $c2;
    color: $c2-50;
    border-bottom-left-radius: 0.625rem;
    span {
        padding: 1rem 1rem;
        &:first-child {
            border-bottom: 1px solid $c2-100;
        }
        i {
            cursor: pointer;
        }
    }
    .pull-hover {
        &:hover {
            color: $color-white;
        }
    }
}