
// About

// about breadcrumbs
.breadcrumbs {
    font-size: $text-sm;
    font-weight: $font-normal;
    padding: 0.875rem;
    background-color: $c1;
    a {
        text-decoration: none;
        color: $color-primary;
        margin-right: 5px;
    }
    span {
        margin-left: 5px;
    }
}

// About Us
.about {
    padding: 5.625rem 0 3.75rem 0;
    .container {
        h1 {
            text-align: center;
            font-weight: $font-bold;
        }
        .about__up {
            display: flex;
            justify-content: left;
            margin: 2.5rem 0 4rem 0;
            .about__up-left {
                flex-basis: 50%;
                @include general-title($text-4xl, $color-title, $font-normal, left);
                @include general-span($text-sm, $color-text, 1rem 0);
                ul {
                    padding-left: unset;
                    list-style-type: none;
                    li {
                        margin-bottom: 0.625rem;
                       i {
                           padding: 5px;
                           margin-right: 0.625rem;
                           background-color: $c1-300;
                           border-radius: 50%;
                           color: $color-primary;
                           font-size: $text-xs;
                       }
                    }
                }
            }
            .about__up-right {
                flex-basis: 50%;
                img {
                    width: 100%;
                }
            }
        }
        .about__down {
            margin: 3rem 0;
            display: flex;
            justify-content: space-between;
            .about__down-item {
                flex-basis: 30%;
                @include general-title($text-2xxl, $color-title, $font-semibold, left);
                @include general-span($text-sm, $color-text, 1rem 0);
            }
        }
    }
}

// Features
.features {
    .features__title {
        h3 {
            font-size: $text-sm;
            color: $color-primary;
        }
        text-align: center;
        @include general-title($text-4xl, $color-title, $font-semibold, center);
        @include general-span($text-sm, $color-text, 1rem auto, 60%);
    }
    .features__content {
        margin-top: 5.625rem;
        .row {
            display: flex;
            flex-direction: row;
            .column{
                flex-basis: 25%;
                text-align: center;
                .features__content-icon {
                    transition: fadeInDown 1s;
                    margin: 0 auto 1.2rem auto;
                    width: 3.75rem;
                    height: 3.75rem;
                    border-radius: 50%;
                    background-color: $color-primary;
                    position: relative;
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: $text-xl;
                        color: $color-white;
                    }
                }
                @include general-title($text-xl, $color-title, $font-semibold, center);
                .description {
                    display: none;
                    @include general-span($text-sm, $color-text, 1rem 0);
                    a {
                        @include general-more( $text-lg, $color-primary,  $font-bold, none);
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    @for $i from 0 to 3 {
                        .test-#{$i+1} {
                            transition: all 0.1s ease-in-out 0.5s*$i;
                        }
                    }
                }
                &:hover {

                    @for $i from 0 to 3 {
                        .test-#{$i+1} {
                            transform: translateY(-3.125rem);
                        }
                    }
                    .description {
                        display: block;
                    }
                }
                @for $i from 0 to 3 {
                    .test-#{$i+1} {
                       transition: all 0.2s linear 0.1s*$i;
                    }
                }
            }
        }
    }
}
