$color-primary: #dc4f72;
$color-secondary: #0d5fa8;
$color-title: #2c3038;
$color-text: #5a5a5a;
$color-bg-light: #f7f9fc;
$color-white: #fff;
// about
$c1: #f7f9fc;
$c1-300: #fdf6f8;
$c1-350: #eaeaea;
$c1-400: #d62f58;
$c2-50: #8f95a8;
$c2-100: #41414d;
$c2: #0d1326;
$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$text-xs: 0.75rem; /* 12px */
$text-sm: 0.875rem; /* 14px */
$text-base: 1rem; /* 16px */
$text-lg: 1.125rem; /* 18px */
$text-xl: 1.25rem; /* 20px */
$text-2xl: 1.5rem; /* 24px */
$text-2xxl: 1.625rem; /* 26px */
$text-3xl: 1.875rem; /* 30px */
$text-4xl: 2.25rem; /* 36px */
$text-4xxl: 2.875rem; /* 40px */
$text-5xl: 3rem; /* 48px */
$text-5xxl: 3.125rem; /* 50px */
$text-6xl: 3.75rem; /* 60px */

@mixin button-primary-color {
  border-color: $color-primary;
  font-size: $text-sm;
  font-weight: $font-bold;
  color: $color-primary;
  height: 54px;
}
@mixin button-primary-color--hover {
  color: $color-white;
  background-color: $color-primary;
  transition: all 0.3s;
}

@mixin title-h6 {
  font-size: $text-base;
  line-height: 20px;
  text-align: center;
  font-weight: $font-semibold;
  color: $color-primary;
  text-transform: uppercase;
  margin-bottom: 5px;
}

@mixin title-h3 {
  font-size: 46px;
  color: $color-title;
  line-height: 1;
  font-weight: $font-semibold;
  text-align: center;
}

@mixin title-p {
  color: $color-text;
  font-size: $text-base;
  line-height: 22.5px;
  font-weight: $font-normal;
  text-align: center;
  width: 750px;
  margin: 16px auto;
}

@mixin transform-rem5 {
  transform: translateY(-0.5rem);
}

@mixin transition-3-ease-in {
  transition: all 0.3s ease-in;
}
