@import "variables";
@import "mixin";

// Services

// About Services

.header {
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: $color-white;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);

  // box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
  .container {
    max-width: 1200px;
    padding: 0 25px;

    .logo {
      color: $color-primary;
      font-size: $text-2xxl;
      font-weight: $font-bold;
      letter-spacing: -1px;
      text-decoration: none;
    }

    .menu {
      ul {
        list-style-type: none;
        width: 648px;
        margin: 0;

        li {
          display: flex;
          align-items: center;
          position: relative;

          &:hover {
            a {
              color: $color-primary;
            }

            span {
              width: 20px;
              transition: all 0.5s;
            }
          }

          a {
            text-decoration: none;
            font-size: $text-base;
            color: $color-text;
          }

          .menu-down {
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
              font-size: 12px;
              padding-left: 4px;
            }
          }

          span {
            width: 0px;
            background-color: $color-primary;
            position: absolute;

            height: 2px;
            bottom: 14px;
          }

          .btn-schedual {
            width: 196px;
            @include button-primary-color;

            &:hover {
              @include button-primary-color--hover;
            }
          }

          .drop-down {
            position: absolute;
            background-color: $color-white;
            width: 176px;
            height: 136px;
            top: 0;
            display: none;
            flex-direction: column;
            border-radius: 6px;
            min-width: 11rem;
            padding: 1rem 0 0.3rem;
            box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
            padding-top: 16px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            top: 54px;
            right: -67px;

            a {
              padding: 0 24px 14px 24px;
              color: $color-text;
            }
          }

          .drop-down::before {
            content: "";
            width: 14px;
            height: 14px;
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 0.15);
            display: block;
            border-right: none;
            border-bottom: none;
            transform: translateX(-50%) rotateZ(45deg);
            position: absolute;
            top: -7px;
            left: 49%;
            z-index: 1001;
          }
        }

        .li-drop-menu:hover {
          .drop-down {
            display: flex;
          }
        }

        .active {
          a {
            color: $color-primary;
          }
        }
      }
    }
  }
}

.breadcrumbs {
  margin-top: 90px;
  font-size: $text-sm;
  font-weight: $font-normal;
  padding: 0.875rem;
  background-color: $c1;

  a {
    text-decoration: none;
    color: $color-primary;
    margin-right: 5px;
  }

  i {
    font-size: 8px;
  }
  span {
    margin-left: 5px;
    padding-top: 10px;
  }

  .container {
    max-width: 1200px;
    padding: 0 25px;
  }
}

// contect us
.contactus {
  .container {
    max-width: 1200px;
    padding: 48px 25px;

    .row {
      .col {
        .contact-us-main {
          padding: 16px 0;

          .us-heading {
            max-width: 750px;
            margin: 0 auto 50px auto;
            color: $color-title;
            font-size: 46px;
            line-height: 55px;
            font-weight: $font-bold;
            text-align: center;
          }

          .us-content {
            margin: 0 -15px;

            .row-us {
              max-width: 1180px;
              margin: 0;
            }

            .col-img {
              text-align: right;

              img {
                padding-top: 50px;
              }
            }

            .col-lg-6 {
              padding: 0;

              img {
                border-radius: 6px;
                max-width: 560px;
                @include transition-3-ease-in;

                &:hover {
                  @include transform-rem5;
                  @include transition-3-ease-in;
                }
              }

              .contact-form {
                padding: 2rem;
                border-radius: 2px;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);

                .form-header {
                  h3 {
                    @include title-h3;
                    text-align: left;
                  }

                  p {
                    @include title-p;
                    text-align: left;
                  }
                }

                .main-input {
                  textarea,
                  .contact-input {
                    outline: none;
                    padding: 15px 20px;
                    -webkit-appearance: none;
                    border-radius: 6px;
                    color: #000;
                    font-weight: 600;
                    width: 100%;
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 15px;
                    background-color: #f7f9fc;
                    border: 1px solid #eee;

                    &:focus {
                      background-color: $color-white;
                      border: 1px solid $color-primary;
                    }
                  }

                  textarea {
                    height: 130px;
                    resize: none;
                  }
                }

                .form-btn {
                  a {
                    width: 140px;
                    height: 54px;
                    text-transform: uppercase;
                    font-size: $text-sm;
                    background-color: $color-primary;
                    color: $color-white;
                    border: none;
                    font-weight: $font-semibold;

                    &:hover {
                      background-color: #d62f58;
                      border-color: #cf2952;
                      transition: all 0.3s ease-in;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//get in touch
.touch {
  padding: 48px 0 56px 0;
  background-color: $color-bg-light;

  .container {
    max-width: 1200px;
    padding: 16px 25px;

    .touch-top {
      .col {
        div {
          h6 {
            @include title-h6;
          }

          h3 {
            @include title-h3;
          }

          p {
            @include title-p;
            margin-bottom: 48px;
          }
        }
      }
    }

    .touch-bottom {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 50px;

      .col {
        background-color: $color-white;
        box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
        padding: 2rem;
        border-radius: 6px;
        text-align: center;
        @include transition-3-ease-in;

        &:hover {
          @include transform-rem5;
          @include transition-3-ease-in;
        }

        .contact-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .icon {
            width: 60px;
            margin: 0 auto;
            height: 60px;
            text-align: center;
            border-radius: 50%;
            line-height: 60px;
            background: rgba(220, 79, 114, 0.1);

            i {
              color: $color-primary;
            }
          }

          .contact-detail {
            h4 {
              font-size: $text-xl;
              margin-bottom: 10px;
              font-weight: $font-semibold;
            }

            p {
              font-size: $text-lg;
              color: $color-text;
              line-height: 28px;
              font-weight: $font-semibold;
              margin: 0;

              a {
                font-size: $text-lg;
                color: $color-text;
                line-height: 28px;
                font-weight: $font-semibold;
                text-decoration: none;
                &:hover {
                  color: $color-primary;
                }
              }
            }
          }
        }
      }
    }
  }
}

// map
.contact-map {
  .contatiner-fluid {
    iframe {
      width: 100%;
    }
  }
}

//footer
.footer-home {
  padding: 48px 0;
  background-color: $color-bg-light;

  .container {
    max-width: 1200px;
    padding: 0 25px;

    .footer__up {
      .footer__col-left {
        .footer__up-item1 {
          h3 {
            font-size: 20px;
            line-height: 25px;
            color: $color-title;
            margin-bottom: 30px;
            font-weight: $font-semibold;
          }

          p {
            color: #656f7b;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            padding: 0;
            margin: 10px 0;

            &:hover {
              opacity: 0.8;
              color: $color-primary;
              cursor: pointer;
            }
          }
        }
      }

      .footer__col-right {
        .footer__up-item2 {
          h3 {
            font-size: 20px;
            line-height: 25px;
            color: $color-title;
            margin-bottom: 30px;
            font-weight: $font-semibold;
          }

          .footer__up-email {
            max-width: 527px;
            height: 226px;
            background-color: $color-white;
            padding: 32px;
            box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);

            h4 {
              font-size: 18px;
              line-height: 25px;
              color: $color-title;
              margin-bottom: 30px;
              font-weight: $font-normal;
            }

            form {
              max-width: 463px;
              height: 48px;
              display: flex;
              margin-bottom: 15px;
              justify-content: space-between;

              input {
                background: $color-bg-light;
                border: none;
                padding: 12px 20px;
                font-size: 16px;
                outline: none;
                width: 78%;
                color: $color-title;
                font-weight: 600;
                border-radius: 6px;
              }

              button {
                text-align: center;
                background: $color-primary;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 600;
                padding: 12px 20px;
                cursor: pointer;
                width: 20%;
                color: #fff;
                border-radius: 6px;
              }

              p {
                line-height: 22px;
                color: $color-text;
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .footer__down {
      border-top: 1px solid #eaeaea;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 24px;
      margin-top: 48px;
      max-width: 1150px;

      .footer__down-content {
        max-width: 490px;
        padding: 0;

        p {
          line-height: 22px;
          color: $color-text;
          font-size: 16px;
          padding: 0;

          a {
            color: $color-title;
            text-decoration: none;

            &:hover {
              color: $color-primary;
            }
          }
        }
      }

      .footer__down-icon {
        max-width: 203px;
        padding: 0;

        a {
          color: $color-text;
          width: 36px;
          height: 36px;
          line-height: 36px;
          display: inline-block;
          border-radius: 50%;
          text-align: center;

          &:hover {
            cursor: pointer;
            color: $color-primary;
          }
        }
      }
    }
  }
}

//-------------------------------------------------------------------------------
@import "./responsive/contact__responsive";
